export HTTP_HOST=backend:80
export BENCH_HTTP_HOST="http://127.0.0.1:8080"
export CARGO_INCREMENTAL=0
export CARGO_NET_RETRY=10
export CI=1
export RUST_BACKTRACE=short
export RUSTFLAGS_EXTRA="-D warnings -W rust-2021-compatibility"
export RUSTUP_MAX_RETRIES=10

# export RUSTFLAGS_EXTRA="-D warnings -W unreachable-pub -W rust-2021-compatibility"
export RUSTFLAGS="$RUSTFLAGS_EXTRA -C target-feature=-crt-static $(pkg-config vips --libs)"
