export HTTP_HOST=backend:80
export RUSTFLAGS_EXTRA="-D warnings -W unreachable-pub -W rust-2021-compatibility"
export RUSTFLAGS="$RUSTFLAGS_EXTRA -C target-feature=-crt-static $(pkg-config vips --libs)"
