version: '3'
services:
  kes:
    image: minio/kes:2023-11-10T10-44-28Z
    ports:
      - ${KES_PORT}:7373
    volumes:
      - ./kes-server-config.yml:/config.yml
      - ./kes-private.key:/private.key
      - ./kes-public.crt:/public.crt
    command: server --config /config.yml --auth off
  minio:
    depends_on:
      - kes
    image: minio/minio:RELEASE.2023-12-02T10-51-33Z
    ports:
      - ${MINIO_CONSOLE_PORT}:1969
      - ${MINIO_API_PORT}:9000
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=rootpassword
      - MINIO_KMS_KES_ENDPOINT=https://kes:7373
      - MINIO_KMS_KES_CERT_FILE=client.crt
      - MINIO_KMS_KES_KEY_FILE=client.key
      - MINIO_KMS_KES_KEY_NAME=minio-default-key
      - MINIO_KMS_KES_CAPATH=public.crt
    entrypoint: sh
    command: -c 'mkdir -p /export && /usr/bin/minio server --console-address ":1969" /export'
    volumes:
      - ./kes-client.crt:/client.crt
      - ./kes-client.key:/client.key
      - ./kes-public.crt:/public.crt
  minio-client:
    depends_on:
      - minio
    image: minio/mc:RELEASE.2023-12-02T11-24-10Z
    volumes:
      - ./test-image.jpeg:/test-image.jpeg
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 root rootpassword;
      /usr/bin/mc mb --region="eu-west-1" myminio/dali-public;
      /usr/bin/mc anonymous set public myminio/dali-public;
      /usr/bin/mc mb --region="eu-west-1" myminio/dali-private;
      /usr/bin/mc cp /test-image.jpeg myminio/dali-public;
      /usr/bin/mc cp /test-image.jpeg myminio/dali-private;
      exit 0;
      "
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.110.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC receiver
      - "13133:13133" # healtcheck
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "6831:6831/udp" # UDP port for Jaeger agent
      - "16686:16686" # Web UI
      - "14268:14268" # HTTP port for spans
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
